.button {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.button .frame {
  align-items: center;
  background-color: var(--retink-colour-styleretink-primary-purplenormal);
  border-radius: 18px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 11px 48px;
  position: relative;
}

.button .text-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.button .text {
  color: var(--white);
  font-family: "Raleway", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button .inactive-true {
  opacity: 0.6;
}

.button:hover .frame {
  background-color: var(--retink-colour-styleretink-primary-purplenormal-active);
  box-shadow: var(--hover-shadow1);
}
